<!-- <div class="brand"><a href="/">D3::TERROR<span id="dactyl">Dactyl</span></a></div> -->
<!-- <div id="input-fields">
  <form id="get-chart">
    <input id='country' type="text" name='country' placeholder="country">
    <input id='city' type="text" name='city' placeholder="city">
    <input type="submit" value="Get Chart">
  </form>
</div> -->

<div class="container">
  <h1>Attack Stats</h1>
  <div id="chart"></div>
  <div class="chart2">
    Hazrat-e Soltan<div style="width: 3px;">3</div>
    Kunduz<div style="width: 79px;">79</div>
    <div style="width: 150px;">15</div>
    <div style="width: 160px;">16</div>
    <div style="width: 230px;">23</div>
    <div style="width: 420px;">42</div>
  </div>
  <div id="chart_div"></div>
</div>
