<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="/js/google_chart.js"></script>
  <script src="/js/get_chart.js"></script>
  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">D3::TERROR<span id="dactyl">Dactyl</span></a></div>

    <div id="input-fields">
      <form id="get-chart">
        <select id='country' name="country">
          <% uniq_cities = Attack.order(:city).map(&:city).uniq %>
          <option value="Afghanistan">Afghanistan</option>
          </select>
        <select id='city' name="city">
          <% uniq_cities.each do |cit| %>
          <option value="<%= cit %>"><%= cit %></option>
          <% end %>
        </select>
        <input type="submit" value="Get Chart">
      </form>
    </div>

    <ul>
      <% if current_user %>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
